/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-header ion-toolbar {
  --background: var(--ion-item-background);
  --color: white;
}

ion-content {
  --background: var(--ion-background-color);
  &.ion-padding {
    --padding-top: 4.5rem !important;
  }
}

ion-item {
  --background: transparent;
}

ion-button {
  --border-radius: 0.5rem;
  --background: var(--ion-color-primary);
  --color: white;
  font-weight: 600;
}

ion-menu {
  max-width: 15rem;
  min-width: 5rem;
}

ion-spinner {
  height: 100%;
  margin-right: 0.1rem;
}

.input-label {
  color: var(--ion-color-medium);
}

.password-toggle {
  --background: transparent !important;
  --box-shadow: none !important;
  font-size: 1rem;
}

ion-input,
ion-textarea {
  --background: rgba(255, 255, 255, 0.08);
  --color: white;
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}
